.DS_Store

# virtual environment
my_venv/

# config files
config.ini
hw3/settings.config

# Jupyter checkpoints
.ipynb_checkpoints

# IDE files
.idea/
hw1/.idea

# log files
hw2/logs.txt

# cached files
hw2/__pycache__/

# examples
MediaCloud-Flask-Example/
