.DS_Store

# virtual environment
my_venv/

# config INI file
config.ini

# Jupyter checkpoints
.ipynb_checkpoints

# IDE files
.idea/
hw1/.idea

# log files
hw2/logs.txt

# cached files
hw2/__pycache__/
